---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: check-json-in-config
        name: Check JSON files are in pre-commit-config.yaml
        entry: .pre-commit-hooks/check-json-in-config.py
        language: python
        types: [json]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
        name: Check JSON files with check-json
      - id: check-yaml
        name: Check YAML files with check-yaml
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-github-workflows
        name: Check GitHub workflows with check-jsonschema
        args: ["--verbose"]
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.173.1
    hooks:
      - id: renovate-config-validator
        name: Check Renovate config with renovate-config-validator
        files: |
          (?x)(
               (^|/).?renovate(?:rc)?(?:\.json5?)?$|
               default.json|
               check-jsonschema.json|
               copier.json|
               copier-new.json|
               copier-template.json|
               git-submodules.json|
               github-actions.json|
               groupManager.json|
               pre-commit.json|
               python-versions.json|
               wednesday.json|
               weekly.json|
               (?!)
          )$
